# Supervised Partition (2D: Doctor + Margin) - Fit on Cal Split
# Risk-aware balanced recursive partition using error labels
# Partition fitted on cal split (20000 samples) instead of res split (5000 samples)

name: partition
postprocessor_args:
  method: supervised-partition
  n_clusters: 30
  alpha: 0.05
  bound: hoeffding
  simultaneous: true
  score: upper
  space: combined
  base_scores: [gini, margin]
  normalize_combined: true
  temperature: 1.0
  normalize: true
  magnitude: 0.0
  n_classes: 1000
  reorder_embs: false
  pred_weights: 0
  init_scheme: null
  n_init: null
  max_iter: null
  clustering_seed: 42
  # Supervised partition parameters
  quantiles: [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]
  balance_penalty: false
  max_samples_factor: null

experience_args:
  fit_partition_on_cal: true  # Fit partition on cal split (20000 samples) instead of res
  n_folds: null
  fit_after_cv: false
  n_epochs:
    res: 1
    cal: 1
  transform:
    res: test
    cal: test
  score_selections:
    gini:
      postprocessor: doctor
      metric: fpr
      split: res
      run_tag: doctor-grid-20260120
    margin:
      postprocessor: margin
      metric: fpr
      split: res
      run_tag: margin-grid-20260120

postprocessor_grid:
  n_clusters: [10, 20, 30, 50]
  alpha: [0.05]
  score: [upper, mean]
